<%
#
#    Copyright (C) 2014 Savoir-faire Linux Inc. (<www.savoirfairelinux.com>).
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
%>
<%= title [l(:label_role_plural), roles_path], @role.name, l(:label_member_plural) %>

<% if @projects_members.empty? %>

<p><%= l(:notice_file_not_found) %></p>

<% else %>

<% @projects_members.each do |project, members| next if members.count == 0 %>

<h3><%= project.name %></h3>
<div class="box tabular" id="members_list">
	<div class="splitcontent">
		<ul>
			<% members.each do |member| next if member.nil? or member.user.nil? %>
				<li><%= link_to_user(member.user) %></li>
			<% end %>
		</ul>
	</div>
</div>
<% end %>

<style>
#members_list ul {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	list-style-position: inside;
}
</style>

<% end %>
